* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #3f51b5;
}

body {
  background-color: #f0f0f0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(0, 0, 0, 87%);
  width: 100vw;
  line-height: 1.5rem;
  overflow-y: scroll;
}
#app-root {
  min-width: 80vw;
  max-width: 100%;
  margin: 0 auto 2vh auto;
  border: solid 2px black;
}
.header-content {
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(85%, 25%, 16%);
}
.content-container {
  width: 100%;
}
form {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px auto 10px auto;
}
.search-box-wrapper {
  width: 100%;
  max-height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 2px;
  padding: 10px 20px;
  background: rgb(255, 255, 255, 0.2);
}
#dropdownList {
  width: 100%;
  max-height: 40%;
  border-radius: 2px;
  font-size: medium;
  text-align: center;
}
.whiteframe {
  border: none;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.12);
}

.hide {
  display: none;
}
.display-container p {
  padding: 5px 5px 5px 20px;
}
.display-container {
  color: black;
  padding: 10px;
  font-size: 1 rem;
  background-color: white;
}
.display-container h3 {
  padding-left: 12px;
}
span {
  font-style: italic;
  color: blue;
  padding-left: 12px;
}

@media (min-width: 960px) {
  body {
    width: 720px;
  }
}
.loading {
  color: purple;
}
.error {
  color: red;
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation-name: spinning;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
