@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
  --clr-white: #fff;
  --clr-red-dark: #bf1e2e;
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --spacing: 0.25rem;
  --radius: 0.5vw;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --margin: 0.5rem;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-black);
  line-height: 1.5;
  font-size: 0.875rem;
  /*width:1200px !important;*/
}

h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

audio {
  display: block;
  margin-top: var(--margin);
}
.header-content {
  margin: 0.5rem auto;
  text-align: center;
}

.header-content h3 {
  margin-top: 1rem;
  font-size: 2rem;
  color: var(--clr-red-dark);
}
.header-content span {
  color: #262626;
  font-style: normal;
}

#searchForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 7rem;
  padding: 0.5rem;
  margin: 0 auto;
}

#dropdownList {
  font-size: 1.3rem;
  width: 100%;
  border-radius: var(--radius);
  padding: 4px;
}

.search-box-wrapper {
  width: 100%;
  height: 2.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 3px solid #b3b3b3;
  border-radius: var(--radius);
  padding: 10px 20px;
  background: white;
}

#searchInput {
  width: 80%;
  height: 2rem;
  margin-right: auto;
  background: transparent;
  border: none;
  font-size: 1.3rem;
  padding: 1vw 15px;
}

#searchInput :active {
  border: none;
}
.search-btn {
  text-transform: uppercase;
  height: 2rem;
  background-color: #222;
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-size: 0.875rem;
  border-radius: var(--radius);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  left: 23px;
}

.search-btn:hover {
  background-color: var(--clr-white);
  color: var(--clr-black);
}

.display-container {
  margin: 2rem auto;
  width: 80%;
  color: black;
  padding: 10px;
  font-size: 1 rem;
  background-color: var(--clr-white);
}
.display-container p {
  padding: 5px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.display-container h3 {
  padding-left: 5px;
  margin-top: 1.5rem;
}
.redframe {
  border: none;
  border-radius: 2px;
  background-color: var(--clr-red-dark);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.12);
}
.hide {
  display: none;
}

span {
  font-style: italic;
  color: #666666;
  padding-left: 12px;
}
.loading {
  color: #262626;
}
.error {
  color: red;
}

@media screen and (min-width: 800px) {
  h2 {
    font-size: 1.85rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }

  .header-content h3 {
    font-size: 3rem;
    color: var(--clr-red-dark);
  }
  #searchForm {
    flex-direction: row;
    width: 80%;
    height: 4rem;
    justify-content: space-around;
  }
  #dropdownList {
    width: 32%;
  }
  .search-box-wrapper {
    width: 63%;
    flex-direction: row;
  }
}
